form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: absolute;
    gap: 2px;

    padding: 40px;
    width: auto;
    height: auto;
    
    
    background-color: #33333355;
    border-radius: 25px;
    
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

form > button {
    width: min-content;
}

form > button.action {
    margin: 5px;
}

form > .input-field-container {
    position: relative;
    width: 200px;
    height: 100px;
}

form > .input-field-container > * {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}